:root {
	// font-size line-height
	--font-size-s: 12px;
	--font-line-s: 20px;
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-size-xl: 32px;
	--font-line-xl: 40px;

	// colors
	--blue-color: #6ba9fa;
	--black-color: rgb(0 0 0 / 88%);
	--gray-color: #c4cdd1;
	--overlay-color: #393838;
	--white-color: #fff;

	// transition
	--transition-slow: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

	// height
	--header-height: 64px;
}
