.overlay {
	position: fixed;
	inset: 0;
	background-color: var(--overlay-color);
	cursor: pointer;
}

.wrapper {
	position: fixed;
	top: 20%;
	transform: translate(-50%, -50%);
	background-color: var(--white-color);
	border-radius: 10px;
	z-index: 1;
	margin-right: 10px;
}
