.sidebar {
	@media (width <= 767px) {
		width: 65px !important;
		min-width: 65px !important;
		flex: 0 0 65px !important;
	}
}

.navbar {
	padding: 10px 5px;
	height: 100%;

	ul {
		height: 100%;
	}
}

.sidebarLink {
	font-size: var(--font-size-m);
	line-height: var(--font-line-m);
}

.menuItem {
	display: flex !important;
	justify-content: center;
}

.space {
	display: inline-flex;
	align-items: center;
	gap: 8px;

	@media (width <= 767px) {
		gap: 0;
	}
}

.spanText {
	@media (width <= 767px) {
		display: none;
	}
}
